.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #000000, #212121);
background-size: 1800% 1800%;

-webkit-animation: rainbow 5s ease infinite;
-z-animation: rainbow 5s ease infinite;
-o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
pre {
  text-align: center;
}
logo {
  color: white;
}
main {
  color: 8D1111;
  font-family: 'Courier New'
}
sub {
  color: 8D1111;
  font-family: 'Courier New'
}
body {
  background-color: 050505;
}
hl {
  color: white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 10;
  right: 10px;
  font-size: 15px;
  font-family: Courier New;
}